body {
  margin:0px;
  background-color:rgba(63, 81, 181, 1);
  background-image:none;
  position:relative;
  left:-242px;
  width:1088px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:242px;
  top:44px;
  width:312px;
  height:212px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:212px;
}
#u1 {
  position:absolute;
  left:2px;
  top:98px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:630px;
  top:44px;
  width:689px;
  height:438px;
}
#u2_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:709px;
  height:458px;
}
#u3 {
  position:absolute;
  left:2px;
  top:211px;
  width:685px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:706px;
  top:242px;
  width:572px;
  height:18px;
  opacity:0.540000021457672;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:572px;
  height:18px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:572px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:706px;
  top:71px;
  width:624px;
  height:48px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FF4081;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:624px;
  height:48px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:624px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:242px;
  top:648px;
  width:312px;
  height:46px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:46px;
}
#u8_img.mouseOver {
}
#u8.mouseOver {
}
#u8_img.mouseDown {
}
#u8.mouseDown {
}
#u9 {
  position:absolute;
  left:2px;
  top:14px;
  width:308px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:290px;
  top:285px;
  width:145px;
  height:63px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:63px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:290px;
  top:476px;
  width:264px;
  height:26px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:26px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:290px;
  top:533px;
  width:264px;
  height:26px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:26px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:290px;
  top:592px;
  width:264px;
  height:26px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:26px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:706px;
  top:122px;
  width:116px;
  height:72px;
  font-size:26px;
  color:#4D4D4D;
  text-align:left;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:72px;
}
#u19 {
  position:absolute;
  left:2px;
  top:19px;
  width:112px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:1092px;
  top:170px;
  width:186px;
  height:72px;
  opacity:0.870000004768372;
  font-size:20px;
  color:#4D4D4D;
  text-align:left;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:72px;
}
#u21 {
  position:absolute;
  left:2px;
  top:23px;
  width:182px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:706px;
  top:170px;
  width:161px;
  height:72px;
  opacity:0.870000004768372;
  font-size:20px;
  color:#4D4D4D;
  text-align:left;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:72px;
}
#u23 {
  position:absolute;
  left:2px;
  top:23px;
  width:157px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:706px;
  top:414px;
  width:572px;
  height:18px;
  opacity:0.540000021457672;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:572px;
  height:18px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:572px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:706px;
  top:294px;
  width:165px;
  height:72px;
  font-size:26px;
  color:#4D4D4D;
  text-align:left;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:72px;
}
#u27 {
  position:absolute;
  left:2px;
  top:19px;
  width:161px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:706px;
  top:342px;
  width:161px;
  height:72px;
  opacity:0.870000004768372;
  font-size:20px;
  color:#4D4D4D;
  text-align:left;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:72px;
}
#u29 {
  position:absolute;
  left:2px;
  top:23px;
  width:157px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:706px;
  top:285px;
  width:604px;
  height:10px;
  opacity:0.119999997317791;
}
#u30_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_end {
  position:absolute;
  left:587px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_line {
  position:absolute;
  left:0px;
  top:5px;
  width:604px;
  height:1px;
}
#u31 {
  position:absolute;
  left:290px;
  top:374px;
  width:264px;
  height:78px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:78px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:372px;
  top:922px;
  width:70px;
  height:18px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:18px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:452px;
  top:922px;
  width:50px;
  height:18px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:294px;
  top:922px;
  width:68px;
  height:18px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:18px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:1089px;
  top:342px;
  width:189px;
  height:72px;
  opacity:0.870000004768372;
  font-size:20px;
  color:#4D4D4D;
  text-align:left;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:72px;
}
#u40 {
  position:absolute;
  left:2px;
  top:23px;
  width:185px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:630px;
  top:504px;
  width:689px;
  height:578px;
}
#u41_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:709px;
  height:598px;
}
#u42 {
  position:absolute;
  left:2px;
  top:281px;
  width:685px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:706px;
  top:702px;
  width:572px;
  height:18px;
  opacity:0.540000021457672;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:572px;
  height:18px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:572px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:706px;
  top:531px;
  width:624px;
  height:48px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FF4081;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:624px;
  height:48px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:624px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:1092px;
  top:630px;
  width:186px;
  height:72px;
  opacity:0.870000004768372;
  font-size:20px;
  color:#4D4D4D;
  text-align:left;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:72px;
}
#u48 {
  position:absolute;
  left:2px;
  top:23px;
  width:182px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:706px;
  top:630px;
  width:311px;
  height:72px;
  opacity:0.870000004768372;
  font-size:20px;
  color:#4D4D4D;
  text-align:left;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:72px;
}
#u50 {
  position:absolute;
  left:2px;
  top:23px;
  width:307px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:706px;
  top:874px;
  width:572px;
  height:18px;
  opacity:0.540000021457672;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:572px;
  height:18px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:572px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:706px;
  top:754px;
  width:277px;
  height:72px;
  font-size:26px;
  color:#4D4D4D;
  text-align:left;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:72px;
}
#u54 {
  position:absolute;
  left:2px;
  top:19px;
  width:273px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:706px;
  top:802px;
  width:147px;
  height:72px;
  opacity:0.870000004768372;
  font-size:20px;
  color:#4D4D4D;
  text-align:left;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:72px;
}
#u56 {
  position:absolute;
  left:2px;
  top:23px;
  width:143px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:706px;
  top:745px;
  width:604px;
  height:10px;
  opacity:0.119999997317791;
}
#u57_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u57_end {
  position:absolute;
  left:587px;
  top:-5px;
  width:18px;
  height:20px;
}
#u57_line {
  position:absolute;
  left:0px;
  top:5px;
  width:604px;
  height:1px;
}
#u58 {
  position:absolute;
  left:706px;
  top:582px;
  width:223px;
  height:72px;
  font-size:26px;
  color:#4D4D4D;
  text-align:left;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:72px;
}
#u59 {
  position:absolute;
  left:2px;
  top:19px;
  width:219px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:706px;
  top:912px;
  width:604px;
  height:10px;
  opacity:0.119999997317791;
}
#u60_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u60_end {
  position:absolute;
  left:587px;
  top:-5px;
  width:18px;
  height:20px;
}
#u60_line {
  position:absolute;
  left:0px;
  top:5px;
  width:604px;
  height:1px;
}
#u61 {
  position:absolute;
  left:706px;
  top:912px;
  width:279px;
  height:72px;
  font-size:26px;
  color:#4D4D4D;
  text-align:left;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:72px;
}
#u62 {
  position:absolute;
  left:2px;
  top:19px;
  width:275px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:706px;
  top:960px;
  width:217px;
  height:72px;
  opacity:0.870000004768372;
  font-size:20px;
  color:#4D4D4D;
  text-align:left;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:72px;
}
#u64 {
  position:absolute;
  left:2px;
  top:23px;
  width:213px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:706px;
  top:1027px;
  width:572px;
  height:18px;
  opacity:0.540000021457672;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:572px;
  height:18px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:572px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:630px;
  top:1105px;
  width:689px;
  height:685px;
}
#u67_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:709px;
  height:705px;
}
#u68 {
  position:absolute;
  left:2px;
  top:334px;
  width:685px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:706px;
  top:1133px;
  width:624px;
  height:48px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FF4081;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:624px;
  height:48px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:624px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:706px;
  top:1231px;
  width:444px;
  height:72px;
  opacity:0.870000004768372;
  font-size:20px;
  text-align:left;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:444px;
  height:72px;
}
#u72 {
  position:absolute;
  left:2px;
  top:23px;
  width:440px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:706px;
  top:1297px;
  width:104px;
  height:72px;
  font-size:26px;
  color:#4D4D4D;
  text-align:left;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:72px;
}
#u74 {
  position:absolute;
  left:2px;
  top:19px;
  width:100px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:706px;
  top:1345px;
  width:495px;
  height:72px;
  opacity:0.870000004768372;
  font-size:20px;
  color:#4D4D4D;
  text-align:left;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  height:72px;
}
#u76 {
  position:absolute;
  left:2px;
  top:23px;
  width:491px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:706px;
  top:1294px;
  width:604px;
  height:10px;
  opacity:0.119999997317791;
}
#u77_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u77_end {
  position:absolute;
  left:587px;
  top:-5px;
  width:18px;
  height:20px;
}
#u77_line {
  position:absolute;
  left:0px;
  top:5px;
  width:604px;
  height:1px;
}
#u78 {
  position:absolute;
  left:706px;
  top:1183px;
  width:200px;
  height:72px;
  font-size:26px;
  color:#4D4D4D;
  text-align:left;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:72px;
}
#u79 {
  position:absolute;
  left:2px;
  top:19px;
  width:196px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:706px;
  top:1413px;
  width:604px;
  height:10px;
  opacity:0.119999997317791;
}
#u80_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u80_end {
  position:absolute;
  left:587px;
  top:-5px;
  width:18px;
  height:20px;
}
#u80_line {
  position:absolute;
  left:0px;
  top:5px;
  width:604px;
  height:1px;
}
#u81 {
  position:absolute;
  left:706px;
  top:1420px;
  width:157px;
  height:72px;
  font-size:26px;
  color:#4D4D4D;
  text-align:left;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:72px;
}
#u82 {
  position:absolute;
  left:2px;
  top:19px;
  width:153px;
  white-space:nowrap;
}
#u83 {
  position:absolute;
  left:706px;
  top:1465px;
  width:254px;
  height:72px;
  opacity:0.870000004768372;
  font-size:20px;
  color:#4D4D4D;
  text-align:left;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:72px;
}
#u84 {
  position:absolute;
  left:2px;
  top:23px;
  width:250px;
  white-space:nowrap;
}
#u85 {
  position:absolute;
  left:706px;
  top:1534px;
  width:604px;
  height:10px;
  opacity:0.119999997317791;
}
#u85_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u85_end {
  position:absolute;
  left:587px;
  top:-5px;
  width:18px;
  height:20px;
}
#u85_line {
  position:absolute;
  left:0px;
  top:5px;
  width:604px;
  height:1px;
}
#u86 {
  position:absolute;
  left:706px;
  top:1544px;
  width:87px;
  height:72px;
  font-size:26px;
  color:#4D4D4D;
  text-align:left;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:72px;
}
#u87 {
  position:absolute;
  left:2px;
  top:19px;
  width:83px;
  white-space:nowrap;
}
#u88 {
  position:absolute;
  left:706px;
  top:1589px;
  width:313px;
  height:72px;
  opacity:0.870000004768372;
  font-size:20px;
  color:#4D4D4D;
  text-align:left;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:72px;
}
#u89 {
  position:absolute;
  left:2px;
  top:23px;
  width:309px;
  white-space:nowrap;
}
#u90 {
  position:absolute;
  left:706px;
  top:1658px;
  width:604px;
  height:10px;
  opacity:0.119999997317791;
}
#u90_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u90_end {
  position:absolute;
  left:587px;
  top:-5px;
  width:18px;
  height:20px;
}
#u90_line {
  position:absolute;
  left:0px;
  top:5px;
  width:604px;
  height:1px;
}
#u91 {
  position:absolute;
  left:706px;
  top:1661px;
  width:88px;
  height:72px;
  font-size:26px;
  color:#4D4D4D;
  text-align:left;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:72px;
}
#u92 {
  position:absolute;
  left:2px;
  top:19px;
  width:84px;
  white-space:nowrap;
}
#u93 {
  position:absolute;
  left:706px;
  top:1706px;
  width:134px;
  height:72px;
  opacity:0.870000004768372;
  font-size:20px;
  color:#4D4D4D;
  text-align:left;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:72px;
}
#u94 {
  position:absolute;
  left:2px;
  top:23px;
  width:130px;
  white-space:nowrap;
}
#u95 {
  position:absolute;
  left:242px;
  top:593px;
  width:29px;
  height:28px;
  font-size:28px;
  color:#FFFFFF;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:28px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u97 {
  position:absolute;
  left:662px;
  top:148px;
  width:29px;
  height:28px;
  font-size:28px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:28px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u99 {
  position:absolute;
  left:242px;
  top:476px;
  width:29px;
  height:28px;
  font-size:28px;
  color:#FFFFFF;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:28px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u101 {
  position:absolute;
  left:242px;
  top:533px;
  width:29px;
  height:28px;
  font-size:28px;
  color:#FFFFFF;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:28px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u103 {
  position:absolute;
  left:660px;
  top:1209px;
  width:29px;
  height:28px;
  font-size:28px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:28px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u105 {
  position:absolute;
  left:242px;
  top:378px;
  width:29px;
  height:28px;
  font-size:28px;
  color:#FFFFFF;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:28px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u107 {
  position:absolute;
  left:660px;
  top:608px;
  width:29px;
  height:28px;
  font-size:28px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:28px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u109 {
  position:absolute;
  left:660px;
  top:1687px;
  width:29px;
  height:28px;
  font-size:28px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:28px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u111 {
  position:absolute;
  left:662px;
  top:320px;
  width:29px;
  height:28px;
  font-size:28px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:28px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u113 {
  position:absolute;
  left:662px;
  top:778px;
  width:29px;
  height:28px;
  font-size:28px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:28px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u115 {
  position:absolute;
  left:662px;
  top:937px;
  width:29px;
  height:28px;
  font-size:28px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:28px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u117 {
  position:absolute;
  left:660px;
  top:1330px;
  width:29px;
  height:28px;
  font-size:28px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:28px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u119 {
  position:absolute;
  left:660px;
  top:1446px;
  width:29px;
  height:28px;
  font-size:28px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:28px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u121 {
  position:absolute;
  left:660px;
  top:1570px;
  width:29px;
  height:28px;
  font-size:28px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:28px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u123 {
  position:absolute;
  left:308px;
  top:721px;
  width:179px;
  height:179px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:179px;
}
#u124 {
  position:absolute;
  left:2px;
  top:82px;
  width:175px;
  visibility:hidden;
  word-wrap:break-word;
}
