body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1690px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:260px;
  top:389px;
  width:560px;
  height:642px;
}
#u0_img {
  position:absolute;
  left:-50px;
  top:-40px;
  width:660px;
  height:742px;
}
#u1 {
  position:absolute;
  left:2px;
  top:313px;
  width:556px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:308px;
  top:437px;
  width:174px;
  height:44px;
  font-size:38px;
  color:#4D4D4E;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:44px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:308px;
  top:519px;
  width:464px;
  height:259px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#707070;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:464px;
  height:259px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:464px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:308px;
  top:855px;
  width:460px;
  height:72px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#35A0F4;
  text-align:right;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:72px;
}
#u7 {
  position:absolute;
  left:2px;
  top:22px;
  width:456px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:308px;
  top:927px;
  width:460px;
  height:72px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#4D4D4D;
  text-align:right;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:72px;
}
#u9 {
  position:absolute;
  left:2px;
  top:22px;
  width:456px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:880px;
  top:380px;
  width:560px;
  height:570px;
}
#u10_img {
  position:absolute;
  left:-50px;
  top:-40px;
  width:660px;
  height:670px;
}
#u11 {
  position:absolute;
  left:2px;
  top:277px;
  width:556px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:928px;
  top:428px;
  width:174px;
  height:44px;
  font-size:38px;
  color:#4D4D4E;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:44px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:928px;
  top:510px;
  width:464px;
  height:259px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#707070;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:464px;
  height:259px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:464px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:1232px;
  top:846px;
  width:176px;
  height:72px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#35A0F4;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:72px;
}
#u17 {
  position:absolute;
  left:2px;
  top:22px;
  width:172px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:1056px;
  top:846px;
  width:176px;
  height:72px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#4D4D4D;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:72px;
}
#u19 {
  position:absolute;
  left:2px;
  top:22px;
  width:172px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:260px;
  top:1100px;
  width:688px;
  height:610px;
}
#u20_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:708px;
  height:630px;
}
#u21 {
  position:absolute;
  left:2px;
  top:297px;
  width:684px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:292px;
  top:1486px;
  width:624px;
  height:66px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:624px;
  height:66px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:624px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:292px;
  top:1621px;
  width:96px;
  height:72px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  color:#4D4D4D;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:72px;
}
#u25 {
  position:absolute;
  left:2px;
  top:20px;
  width:92px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:430px;
  top:1621px;
  width:181px;
  height:72px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  color:#FF9900;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:72px;
}
#u27 {
  position:absolute;
  left:2px;
  top:20px;
  width:177px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:260px;
  top:1100px;
  width:688px;
  height:354px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:688px;
  height:354px;
}
#u29 {
  position:absolute;
  left:2px;
  top:169px;
  width:684px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:588px;
  top:1261px;
  width:32px;
  height:32px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u31 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:292px;
  top:1367px;
  width:624px;
  height:57px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:624px;
  height:57px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:624px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:1002px;
  top:1100px;
  width:688px;
  height:273px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:688px;
  height:273px;
}
#u35 {
  position:absolute;
  left:2px;
  top:128px;
  width:684px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:1210px;
  top:1132px;
  width:193px;
  height:57px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:57px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:1210px;
  top:1195px;
  width:186px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#B5B5B5;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:33px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:1195px;
  top:1281px;
  width:230px;
  height:72px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  color:#4D4D4D;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:72px;
}
#u41 {
  position:absolute;
  left:2px;
  top:20px;
  width:226px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:1425px;
  top:1281px;
  width:146px;
  height:72px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  color:#FF9900;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:72px;
}
#u43 {
  position:absolute;
  left:2px;
  top:20px;
  width:142px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:1002px;
  top:1100px;
  width:176px;
  height:273px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:273px;
}
#u45 {
  position:absolute;
  left:2px;
  top:128px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:1074px;
  top:1220px;
  width:32px;
  height:32px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u47 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:1002px;
  top:1430px;
  width:176px;
  height:72px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#4D4D4D;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:72px;
}
#u49 {
  position:absolute;
  left:2px;
  top:22px;
  width:172px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:1002px;
  top:1550px;
  width:176px;
  height:72px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#4D4D4D;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:72px;
}
#u51 {
  position:absolute;
  left:2px;
  top:22px;
  width:172px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:1002px;
  top:1688px;
  width:176px;
  height:72px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#4D4D4D;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:72px;
}
#u53 {
  position:absolute;
  left:2px;
  top:22px;
  width:172px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:1234px;
  top:1606px;
  width:144px;
  height:144px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:144px;
}
#u55 {
  position:absolute;
  left:2px;
  top:64px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:1234px;
  top:1430px;
  width:144px;
  height:144px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:144px;
}
#u57 {
  position:absolute;
  left:2px;
  top:64px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:1440px;
  top:1430px;
  width:144px;
  height:144px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:144px;
}
#u59 {
  position:absolute;
  left:2px;
  top:64px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:1248px;
  top:1776px;
  width:144px;
  height:144px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:144px;
}
#u61 {
  position:absolute;
  left:2px;
  top:64px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:1440px;
  top:1621px;
  width:144px;
  height:144px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:144px;
}
#u63 {
  position:absolute;
  left:2px;
  top:64px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:1450px;
  top:1775px;
  width:144px;
  height:144px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:144px;
}
#u65 {
  position:absolute;
  left:2px;
  top:64px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:341px;
  top:1920px;
  width:29px;
  height:36px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:36px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:382px;
  top:1916px;
  width:36px;
  height:36px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u69 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:588px;
  top:1905px;
  width:100px;
  height:25px;
}
#u70_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u71 {
  position:absolute;
  left:54px;
  top:2070px;
  width:176px;
  height:72px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#4D4D4D;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:72px;
}
#u72 {
  position:absolute;
  left:2px;
  top:22px;
  width:172px;
  word-wrap:break-word;
}
